[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "thirdparty/KTX-Software"]
	path = thirdparty/KTX-Software
	url = https://github.com/KhronosGroup/KTX-Software.git
